@import "normalize/import-now";
@import 'utils/variables';
@import 'base/typography';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/home';
@import 'settings';
@import 'layout/buttons';

header {
  background-color: $red;
  padding: 11px 0 13px 0;

  nav {
    @extend %flex;
    align-items: center;

    .menu-items {
      @extend %list;
      @extend %flex;

      li {
        position: relative;
        padding: 0 20px 0 20px;

        &:hover .overlay {
          position: absolute;
          left: 0;
          right: 0;
          top: 9px;
          height: 1px;
          background-color: $white;
          opacity: 0.5;
          transition: 0.5s;

        }

        a {
          text-decoration: none;
          color: $white;
          font-family: $DroidSansRegular;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.65px;
        }
      }
    }

    .right-menu {
      max-width: 524px;
      width: 100%;
      @extend %flex;
      align-items: center;

      .social-items {
        @extend %flex;
        @extend %list;
        max-width: 262px;
        width: 100%;

        li {
          display: flex;
          align-items: center;

          a {
            margin-right: 10px;

            &:hover {
              opacity: 0.8;
              transition: 0.2s;
            }

            i {
              color: $white;
              font-size: 24px;
              font-weight: 400;
              text-transform: uppercase;
            }
          }

          span {
            text-decoration: none;
            color: $white;
            font-family: $OpenSans;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }
    }

    .purchase {
      padding: 22px 44px;
      background-color: $white;
      color: $red;
    }
  }

  img {
    max-width: 115px;
  }

}

.main-section {
  position: relative;

  &:after {
    content: '';
    display: block;
    max-width: 1500px;
    height: 3px;
    background-color: $red;
  }

  .main-block {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 208px;

    h1 {
      color: $red;
      font-family: $Oswald;
      font-size: 116px;
      font-weight: bold;
      text-transform: uppercase;
      @extend %zeroing;
    }

    span {
      color: $dark-grey;
      font-family: $GreatVibes;
      font-size: 80px;
      font-weight: 400;
      display: block;
    }
  }
}

.introducing- {

  &block {
    padding: 103px 0 100px 0;
    border-bottom: solid 1px $light-grey;

    .introducing-list {
      @extend %flex;
      @extend %list;
      margin-top: 45px;

      .introducing-item {
        position: relative;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        .description {
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: $red;
          text-decoration: none;
          padding: 17px 0 24px 27px;
          height: 80px;
          -moz-transition: all 1s linear;
          -webkit-transition: all 1s linear;
          -o-transition: all 1s linear;
          transition: all 0.3s linear;

          &:hover {
            bottom: 0;
            height: 130px;
          }

          .performer {
            h3 {
              color: $white;
              font-family: $Oswald;
              font-size: 22px;
              font-weight: 400;
              @extend %zeroing;
            }
            span {
              font-family: $DroidSansRegular;
              font-size: 16px;
              color: $white;
              font-weight: 400;
              margin-top: 5px;
              letter-spacing: normal;
            }
          }

          .description-list {
            @extend %list;
            margin-top: 25px;

            li {
              float: left;
              margin-right: 15px;

              a {
                margin-right: 10px;
                display: inline-block;

                :hover {
                  transition: 0.2s;
                  opacity: 0.8;
                }

                i {
                  color: #ffffff;
                  font-weight: 400;
                  text-transform: uppercase;
                  font-size: 24px;
                  letter-spacing: 1.2px;
                }
              }
            }

            span {
              color: $white;
              font-family: $OpenSans;
              font-size: 14px;
              font-weight: 400;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

.upcoming-latest {
  padding-top: 97px;

  .upcoming-latest-section {
    @extend %flex;

    .upcoming {
      max-width: 620px;
      width: 100%;
      margin-bottom: 100px;

      .main-upcoming {
        margin-top: 40px;

        .picture-consert {
          position: relative;
          float: left;

          .date-concert {
            left: 110px;
            top: 110px;
            position: absolute;
            max-width: 49px;
            color: $white;
            font-family: $Oswald;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 3.2px;

            span {
              font-size: 45px;
              letter-spacing: normal;
            }
          }
        }

        .consert-details {
          float: right;

          h3 {
            color: $dark-grey;
            font-family: $Oswald;
            font-size: 22px;
            font-weight: 500;
            @extend %zeroing;

          }

          .location {
            margin-top: 33px;
            @extend %list;

            li {
              color: $dark-grey;
              font-family: $DroidSansRegular;
              font-size: 16px;
              font-weight: 400;
              margin-top: 15px;

              &:first-child {
                margin-top: 0;
              }
            }
          }
        }

        &:after {
          max-width: 168px;
          height: 4px;
          background-color: #df001f;
          margin-left: 22px;
          position: relative;
          bottom: -9px;
        }
      }

      &:after {
        content: '';
        display: block;
        max-width: 770px;
        height: 4px;
        background-color: $grey-border;
        margin-top: 5px;
      }
    }

    .latest {
      max-width: 372px;
      width: 100%;

      iframe {
        width: 372px;
        height: 290px;
        margin-top: 9px;
      }
    }
  }
}

.learn-more {

  .learn-block {
    background: url('../img/bg-oldman.png') no-repeat center top / cover;
    padding: 86px 0 81px 100px;

    h2 {
      color: $white;
      font-family: $Oswald;
      font-size: 32px;
      font-weight: 500;
      text-transform: uppercase;
      @extend %zeroing;
    }

    p {
      color: $white;
      font-family: $Oswald;
      font-size: 22px;
      font-weight: 400;
      @extend %zeroing;

      span {
        color: $white;
        font-family: $GreatVibes;
        font-size: 65px;
        font-weight: 400;

      }
    }

  }
}

.download {
  margin-top: 90px;

  .download-block {
    background: url('../img/download-back.png') no-repeat center top / cover;
    padding: 80px 0 120px 0;
    text-align: center;

    h2 {
      color: $white;
      font-family: $Oswald;
      font-size: 32px;
      font-weight: 500;
      @extend %zeroing;
    }

    p {
      color: $white;
      font-family: $DroidSansRegular;
      font-size: 22px;
      font-weight: 400;
      @extend %zeroing;
      margin-top: 9px;
    }
  }

  .download-buttons {
    max-width: 341px;
    width: 100%;
    margin: 0 auto;
    @extend %flex;
    margin-top: 41px;

    a {
      padding: 12px 28px 9px 27px;
      border-radius: 5px;
      background-color: $dark;

      &:hover {
        transition: 0.2s;
        opacity: 0.9;
      }
    }

    .app-store {
      &:after {
        content: url('../img/app-store.png');
      }
    }

    .google-play {
      &:after {
        content: url('../img/google-play.png');
      }
    }
  }
}

.newsletter {
  padding: 105px 0 70px 0;

  form {
    border-bottom: 4px solid #999999;
    max-width: 533px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 5px;

    textarea {
      color: #282828;
      font-family: $DroidSansRegular;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 3.2px;
      border: none;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      resize: none;
    }

    label {

      input {
        display: none;
      }

      i {
        color: $red;
        font-size: 16px;
        font-weight: 400;

      }
    }
  }
}


