.flexslider {
    margin: 0;
    border: none;
    height: 703px;

    .slides {
        li {
            height: 700px;
            background:  no-repeat center top / cover;

            &:nth-child(1) {
                background-image: url('../img/main-back.png');
            }
            &:nth-child(2) {
                background-image: url('../img/girl-with-guitar.png');
            }
            &:nth-child(3) {
                background-image: url('../img/man-with-guitar.png');
            }
        }
    }
    &:after {
        content: '';
        display: block;
        position: relative;
        bottom: 3px;
        z-index: 10;
        max-width: 1500px;
        width: 75%;
        height: 3px;
        background-color: $main-color;
    }
}

.flexslider-introducing {
    margin-top: 10px;

    li {
        width: 260px;
        position: relative;
    }
}



